* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 

body {
  height: 100vh;
  font-family: 'Helvetica Neue',
    sans-serif;

  
}

#root {
  min-height: 100vh;
}
